@layer components {
    .PopoverContent {
        animation-duration: 400ms;
        animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
        will-change: transform, opacity;
    }

    .PopoverContent[data-state='open'][data-side='top'] {
        animation-name: slideDownAndFade;
    }

    .PopoverContent[data-state='open'][data-side='right'] {
        animation-name: slideLeftAndFade;
    }

    .PopoverContent[data-state='open'][data-side='bottom'] {
        animation-name: slideUpAndFade;
    }

    .PopoverContent[data-state='open'][data-side='left'] {
        animation-name: slideRightAndFade;
    }
}
